.forgot,
.forgot:visited,
.forgot:active,
.forgot:focus {
  color: #0097b2; /* Color para enlaces no visitados */
  text-decoration: none !important; /* Remover el subrayado si deseas */
  outline: none; /* Remueve el contorno por defecto del navegador */
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
  text-decoration: underline;
}

a:hover {
  color: #048298; /* Color cuando el cursor está sobre el enlace */
}

label {
  font-weight: 500;
}

.centrado {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  text-transform: uppercase;
}

.navbar-brand img {
  width: 50px;
}

.header {
  background-image: url("fondo2.png");
  height: 450px;
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: #ebebeb !important;
}

.eslogan {
  font-size: 3.5rem;
  text-align: right;
  padding: 130px 20px 0 0;
}

.cont-desc {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  height: 50px;
  border-radius: 20px;
  position: relative;
  top: -25px;
  display: flex;
  align-items: center;
}

.desc-caan {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}

.cont-boton-home {
  border-radius: 100%;
  background-color: #9fe5ff;
}

.cont-boton-home img {
  width: 150px;
  height: 160px;
}

.boton-home {
  background-color: #ffffff;
  width: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 15px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.carousel-inner {
  padding: 50px 60px;
}

.carousel-control-prev-icon {
  background-image: url("flecha2prev.png") !important;
}

.carousel-control-next-icon {
  background-image: url("flecha2.png") !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem !important;
  height: 5rem !important;
}

.pad {
  padding: 0 60px 40px 60px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.home-title-gal {
  text-transform: uppercase;
  background: #ffffff;
  text-align: center;
  border-radius: 20px 20px 0 0;
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
}

.panel-adopta {
  display: flex;
}

.filtros {
  display: flex;
  flex-flow: column;
}

.cont-animal {
  width: 250px;
  padding: 15px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filtros h2 {
    font-size:16px
}

.cont-animal img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 20px;
}

.carac-animal {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-evenly;
}

.carac-animal p {
  margin: 0;
}

span {
  font-weight: 500;
}

.galeria {
  display: flex;
  width: 85%;
  flex-flow: row wrap;
}
